<% title="DISPENSADOR" %>
    <% include partials/header %>

        <div class="container">

            <div class="row d-flex justify-content-center">
                <div class="element-card col-5">
                    <div class="front-facing">
                        <i class="fa fa-user abr"></i>
                        <p class="title">Usuario</p>
                        <i class="fa fa-angle-double-right atomic-number" aria-hidden="true"></i>
                        <span class="atomic-mass">Configuracion</span>
                    </div>
                    <div class="back-facing">
                        <span class="Opcion">
                                <i class="fa fa-user"></i>
                                Usuario
                                </span>
                        <a href="/user/<%=user%>"> <button type="button" class="m-1 btn btn-outline-success">Mi Usuario</button></a>
                        <a href="/Logout"> <button type="button" class="m-1 btn btn-outline-danger">Cerrar session</button></a>
                    </div>
                </div>

                <div class="element-card col-5">
                    <div class="front-facing">
                        <i class="fa fa-users abr"></i>
                        <p class="title">Usuarios</p>
                        <i class="fa fa-angle-double-right atomic-number" aria-hidden="true"></i>
                        <span class="atomic-mass">Todos</span>
                    </div>
                    <div class="back-facing">
                        <span class="Opcion">
                                <i class="fa fa-users"></i>
                                Usuarios
                                </span>
                        <a href="/user"> <button type="button" class="m-1 btn btn-lg btn-outline-success">Nuevo Usuario</button></a>
                        <a href="/users"> <button type="button" class="m-1 btn btn-lg btn-outline-info">Lista</button></a>
                    </div>
                </div>

                <div class="element-card col-5">
                    <div class="front-facing">
                        <i class="fas fa-wine-glass abr"></i>
                        <p class="title">Pedidos</p>
                        <i class="fa fa-angle-double-right atomic-number" aria-hidden="true"></i>
                        <span class="atomic-mass">Historial</span>
                    </div>
                    <div class="back-facing">
                        <span class="Opcion">
                                <i class="fas fa-wine-glass"></i>
                                Pedidos
                                </span>
                        <a href="/orderspending"> <button type="button" class="m-1 btn btn-outline-info">Pendientes</button></a>
                        <a href="/takeorder"> <button type="button" class="m-1 btn btn-outline-success">Nuevo Pedido</button></a>
                        <a href="/orders"> <button type="button" class="m-1 btn btn-outline-warning">Historial</button></a>
                    </div>
                </div>
                <div class="element-card col-5">
                    <div class="front-facing">
                        <i class="fas fa-cocktail abr"></i>
                        <p class="title">Bebidas</p>
                        <i class="fa fa-angle-double-right atomic-number" aria-hidden="true"></i>
                        <span class="atomic-mass">Configuracion</span>
                    </div>
                    <div class="back-facing">
                        <span class="Opcion">
                                <i class="fas fa-cocktail"></i>
                                Bebidas
                                </span>
                        <a href="/drink"> <button type="button" class="m-1 btn btn-lg btn-outline-success">Nueva Bebida</button></a>
                        <a href="/drinks"> <button type="button" class="m-1 btn btn-lg btn-outline-info">Listar Bebidas</button></a>
                    </div>
                </div>
                <div class="element-card col-5">
                    <div class="front-facing">
                        <i class="fa fa-quote-right abr"></i>
                        <p class="title">Acerca de</p>
                        <i class="fa fa-angle-double-right atomic-number" aria-hidden="true"></i>
                        <span class="atomic-mass">Nosotros</span>
                    </div>
                    <div class="back-facing">
                        <span class="Opcion">
                                <i class="fa fa-quote-right"></i>
                                Acerca de
                                </span>
                        <a href="/abautus"> <button type="button" class="m-1 btn btn-lg btn-outline-success">Nosotros</button></a>
                        <a href="/aboutproyect"> <button type="button" class="m-1 btn btn-lg btn-outline-info">Proyecto</button></a>
                    </div>
                </div>
            </div>

        </div>
        <script src="/js/home.js"></script>
        <% include partials/footer %>
